﻿@charset "UTF-8";
/*!
 * Copyright 2011 Exit Games GmbH, http://www.exitgames.com/
 * All rights reserved.
 *
 * @fileOverview Exit Games' site specific CSS
 * 
 * @author Stefan E. Christiansen, sec@exitgames.com
 */

doc {
    display: block;
    overflow: hidden;
}

    doc article {
        padding: 2.615em 1.618em;
    }

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6,
    legend {
        color: #444;
    }
    
    p + ul {
        margin-top: -1.618em;
    }
        p + ul li {
            padding-bottom: 0;
        } 

.menu {
    width: 17.8571em;
    overflow: hidden;
}

/* IE7 F****P */
*.menu,
*.menu ul {
    margin-left: 0;
    margin-top: 0;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    border-radius: 4px;
}

    /* entries */
    .menu *,
    .menu a {
        color: #444;
        cursor: pointer;
        display: block;
    }
    .menu a {
        margin: .5em 1em;
        white-space: pre-wrap;
    }
    .menu > .active > a {
        color: #fff;
    }
    
    /* rounded corners' setup */
    .menu > ul li:first-child,
    .menu li:first-child {
            -moz-border-radius-topleft: 4px;
            -webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
            -moz-border-radius-topright: 4px;
            -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
    }
    
    .menu li:last-child,
    .menu li.active:last-child {
            -moz-border-radius-bottomleft: 4px;
            -webkit-border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
            -moz-border-radius-bottomright: 4px;
            -webkit-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    
        .menu li li {
                -moz-border-radius: 0 !important;
                -webkit-border-radius: 0 !important;
            border-radius: 0 !important;
        }

    /* (sub-) categories */
    .menu > li,
    .hasChildMenu {
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    .menu > li:first-child,
    .menu > li ul > .hasChildMenu:first-child,
    .menu > li + li,
    .hasChildMenu + .hasChildMenu {
        border-top: 0;
    }
    .menu > li:last-child,
    .menu > li ul > .hasChildMenu:last-child {
        border-bottom: 0;
    }
   
    .menu li {
        display: block;
        list-style-type: none;
        margin-left: 0;
        overflow: hidden;
        padding-bottom: 0;
    }
            
        .menu li.hasChildMenu > a:before {
            color: #fff;
            content: '\f0da';
            font-family: FontAwesome;
            font-size: 1.84em;
            margin-right: -.4ex;
            text-align: left;
            text-shadow: 1px 0 0 #ddd;
            position: relative;
            left: -.6em;
            top: .21em;
        }
        
        /* hide level 2+ by default, navigation is opened by Javascript*/
        .menu li ul {
            display: none;
        }
   
    /* 1st active */
    /* :target to make the nav work w/o Javascript */
    .menu li:target ul {
        display: block;
    }

    .menu li:target {
        background-color: #ccc;
    }
    .menu li:target:hover {
        background-color: #999;
    }

    .menu li.active {
        background-color: #4c4e54;
    }
    .menu li.active:hover {
        background-color: #3c3d43;
    }

        /* 2nd+ 
        .menu li.active li {
            background-color: #ddd;
        }
        .menu li.active li:hover {
            background-color: #ccc;
        }
        
        /* the actual active entries */
        .menu li.active li.active {
            background-color: #fff;
        }
 
    /* 1st inactive */
    .menu li,
    .menu li.active li.hasChildMenu.active {
        background-color: #ccc;
    }
    .menu li:hover,
    .menu li.active li.hasChildMenu.active:hover {
        background-color: #999;
    }

        /* 2nd+ */
        .menu li li {
            background-color: #eee;
        }
        .menu li li:hover {
            background-color: #ddd;
        }